<div class="main-content">
    <h2 class="content-heading">Add Games</h2>

    <div class="search-container">
      <button class="fa fa-search search-button"></button>
      <input class="fa search-bar" placeholder="Find your games">
    </div>

    <form class="add-game-form">
      <ul class="results">

        <li class="result"><img class="result-image" src="images/sq-orange-placeholder.png">
          <div class="result-text">
            <h3 class="result-title">Awesome Title</h3>
            <p class="result-description">Some assert that the lamest jump reveals itself as a professed pink to those who look.
              Nowhere is it disputed that traies are glummest nails. An ox is an unfit diploma.</p>
          </div>
          <button class="add-game-button">add game</button>
          </li>

        <li class="result"><img class="result-image" src="images/sq-orange-placeholder.png">
          <div class="result-text">
            <h3 class="result-title">Awesome Title</h3>
            <p class="result-description">Some assert that the lamest jump reveals itself as a professed pink to those who look.
              Nowhere is it disputed that traies are glummest nails. An ox is an unfit diploma.</p>
          </div>
          <button class="add-game-button">add game</button>
        </li>

        <li class="result"><img class="result-image" src="images/sq-orange-placeholder.png">
          <div class="result-text">
            <h3 class="result-title">Awesome Title</h3>
            <p class="result-description">Some assert that the lamest jump reveals itself as a professed pink to those who look.
              Nowhere is it disputed that traies are glummest nails. An ox is an unfit diploma.</p>
          </div>
          <button class="add-game-button">add game</button>
        </li>

        <li class="result"><img class="result-image" src="images/sq-orange-placeholder.png">
          <div class="result-text">
            <h3 class="result-title">Awesome Title</h3>
            <p class="result-description">Some assert that the lamest jump reveals itself as a professed pink to those who look.
              Nowhere is it disputed that traies are glummest nails. An ox is an unfit diploma.</p>
          </div>
            <button class="add-game-button">add game</button>
        </li>

      </ul>

    </form>

  </div>


{{outlet}}
