<div class="main-content">
    <h2 class="content-heading">My Bookshelf</h2>
    <div class="games">
      <a href="game-details_id"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
      <a href="game-details.html"><div class="game"><h3 class="game-title">Awesome Title</h3></div></a>
    </div>
  </div>
{{outlet}}
